<div>

    {{#unless logged_in}}
        <a href="/users/sign-in">Sign In</a>
        <a href="/users/new">Register</a>
    {{/unless}}

    {{#if logged_in}}
        <!--Welcome {{email}}! <br>-->
        <!--Employee ID: {{employee_id}} <br>-->
        <!--<a href="/users/sign-out">Sign Out</a>-->

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav pos-nav">
                    <li style="line-height: 3.428571;">
                        Welcome {{email}}! 
                    </li>
                    <li style="line-height: 3.428571;">
                         | Employee ID: {{employee_id}} </li>
                    <li>
                        <a href="/users/sign-out">Sign Out</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>





        <div class="container">
            <!-- Jumbotron -->
            <div class="jumbotron pos-jumbo" style="background-color: rgba(0,0,0,.7); color: white">
                <h2><span>Fork this POS</span></h2>
                <span class="pull-right text-muted" id="todayDate"></span>
                <div class="text-muted">Orlando, FL</div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="scanForm">
                        <form class="create-update-form" action="/pos/add" method="POST">
                            <div id="text"><span id="scanText">Enter a UPC code or scan one below. </span></div>
                            <div class="form-group">
                                <label id="addText" for="addItem"></label>
                                <input type="text" id="addItem" name="addItem" placeholder="Add Item #">
                            </div>
                            <div id="itemErrMsg"></div>
                            <button class="btn btn-success" id="btnAdd" type="submit">Add Item to Order</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary order-summary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Receipt</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                <th>Sku</th>
                                <th>Description</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                </thead>
                                <tbody class="table-striped" id="orderSummaryBody">
                                {{#each data}}
                                    <tr>
                                        <td>{{this.sku}}</td>
                                        <td>{{this.productName}}</td>
                                        <td>{{this.qty}}</td>
                                        <td>{{this.price}}</td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                            <div class="label label-danger">Subtotal: ${{this.subtotal}}</div>
                            <div class="label label-danger">Tax: ${{this.tax}}</div>
                            <div class="label label-danger">Total: ${{this.total}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</div>